<link rel="stylesheet" href="/stylesheets/login.css">
<div class="jumbotron">
    <div class="container">
        <h2>JustHo Admin</h2>
        <h5>캠페인 운영툴입니다</h5>
        <div class="box">
            <form action="/users/login" method="POST">
                <input name="username" type="text" placeholder="username" value="">
                <input name="password" type="password" placeholder="password" value="">
                <input name="prev" type="hidden" value="/">
                <button type="submit" class="btn btn-default full-width"><span class="glyphicon glyphicon-ok">로그인</span></button>
            </form>
        </div>
    </div>
</div>